.markdown-body {
  /**
   * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
   * Based on https://github.com/chriskempson/tomorrow-theme
   * @author Rose Pritchard
   */
  /* Code blocks */
  /* Inline code */
}

.markdown-body .theme-default-content code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown-body .theme-default-content code .token.deleted {
  color: #ec5975;
}

.markdown-body .theme-default-content code .token.inserted {
  color: #3eaf7c;
}

.markdown-body .theme-default-content pre,
.markdown-body .theme-default-content pre[class*="language-"] {
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  background-color: #282c34;
  border-radius: 6px;
  overflow: auto;
}

.markdown-body .theme-default-content pre code,
.markdown-body .theme-default-content pre[class*="language-"] code {
  color: #fff;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.markdown-body div[class*="language-"] {
  position: relative;
  background-color: #282c34;
  border-radius: 6px;
}

.markdown-body div[class*="language-"] .highlight-lines {
  user-select: none;
  padding-top: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.4;
}

.markdown-body div[class*="language-"] .highlight-lines .highlighted {
  background-color: rgba(0, 0, 0, 0.66);
}

.markdown-body div[class*="language-"] pre,
.markdown-body div[class*="language-"] pre[class*="language-"] {
  background: transparent;
  position: relative;
  z-index: 1;
}

.markdown-body div[class*="language-"]::before {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
}

.markdown-body div[class*="language-"]:not(.line-numbers-mode) .line-numbers-wrapper {
  display: none;
}

.markdown-body div[class*="language-"].line-numbers-mode .highlight-lines .highlighted {
  position: relative;
}

.markdown-body div[class*="language-"].line-numbers-mode
.highlight-lines
.highlighted:before {
  content: " ";
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  display: block;
  width: 3.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}

.markdown-body div[class*="language-"].line-numbers-mode pre {
  padding-left: 4.5rem;
  vertical-align: middle;
}

.markdown-body div[class*="language-"].line-numbers-mode .line-numbers-wrapper {
  position: absolute;
  top: 0;
  width: 3.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  padding: 1.25rem 0;
  line-height: 1.4;
}

.markdown-body div[class*="language-"].line-numbers-mode .line-numbers-wrapper br {
  user-select: none;
}

.markdown-body div[class*="language-"].line-numbers-mode .line-numbers-wrapper .line-number {
  position: relative;
  z-index: 4;
  user-select: none;
  font-size: 0.85em;
}

.markdown-body div[class*="language-"].line-numbers-mode::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 100%;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.66);
  background-color: #282c34;
}

.markdown-body div[class~="language-js"]:before {
  content: "js";
}

.markdown-body div[class~="language-ts"]:before {
  content: "ts";
}

.markdown-body div[class~="language-html"]:before {
  content: "html";
}

.markdown-body div[class~="language-md"]:before {
  content: "md";
}

.markdown-body div[class~="language-vue"]:before {
  content: "vue";
}

.markdown-body div[class~="language-css"]:before {
  content: "css";
}

.markdown-body div[class~="language-sass"]:before {
  content: "sass";
}

.markdown-body div[class~="language-scss"]:before {
  content: "scss";
}

.markdown-body div[class~="language-less"]:before {
  content: "less";
}

.markdown-body div[class~="language-stylus"]:before {
  content: "stylus";
}

.markdown-body div[class~="language-go"]:before {
  content: "go";
}

.markdown-body div[class~="language-java"]:before {
  content: "java";
}

.markdown-body div[class~="language-c"]:before {
  content: "c";
}

.markdown-body div[class~="language-sh"]:before {
  content: "sh";
}

.markdown-body div[class~="language-yaml"]:before {
  content: "yaml";
}

.markdown-body div[class~="language-py"]:before {
  content: "py";
}

.markdown-body div[class~="language-docker"]:before {
  content: "docker";
}

.markdown-body div[class~="language-dockerfile"]:before {
  content: "dockerfile";
}

.markdown-body div[class~="language-makefile"]:before {
  content: "makefile";
}

.markdown-body div[class~="language-javascript"]:before {
  content: "js";
}

.markdown-body div[class~="language-typescript"]:before {
  content: "ts";
}

.markdown-body div[class~="language-markup"]:before {
  content: "html";
}

.markdown-body div[class~="language-markdown"]:before {
  content: "md";
}

.markdown-body div[class~="language-json"]:before {
  content: "json";
}

.markdown-body div[class~="language-ruby"]:before {
  content: "rb";
}

.markdown-body div[class~="language-python"]:before {
  content: "py";
}

.markdown-body div[class~="language-bash"]:before {
  content: "sh";
}

.markdown-body div[class~="language-php"]:before {
  content: "php";
}

.markdown-body .custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}

.markdown-body .custom-block.tip,
.markdown-body .custom-block.warning,
.markdown-body .custom-block.danger {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.markdown-body .custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}

.markdown-body .custom-block.warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}

.markdown-body .custom-block.warning .custom-block-title {
  color: #b29400;
}

.markdown-body .custom-block.warning a {
  color: #2c3e50;
}

.markdown-body .custom-block.danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}

.markdown-body .custom-block.danger .custom-block-title {
  color: #900;
}

.markdown-body .custom-block.danger a {
  color: #2c3e50;
}

.markdown-body .custom-block.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}

.markdown-body .custom-block.details h4 {
  margin-top: 0;
}

.markdown-body .custom-block.details figure:last-child,
.markdown-body .custom-block.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.markdown-body .custom-block.details summary {
  outline: none;
  cursor: pointer;
}

.markdown-body .arrow {
  display: inline-block;
  width: 0;
  height: 0;
}

.markdown-body .arrow.up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #ccc;
}

.markdown-body .arrow.down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ccc;
}

.markdown-body .arrow.right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #ccc;
}

.markdown-body .arrow.left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 6px solid #ccc;
}

@media (max-width: 959px) {
  .markdown-body .theme-default-content:not(.custom) {
    padding: 2rem;
  }
}

@media (max-width: 419px) {
  .markdown-body .theme-default-content:not(.custom) {
    padding: 1.5rem;
  }
}

.markdown-body .table-of-contents .badge {
  vertical-align: middle;
}

.markdown-body .theme-default-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
}

.markdown-body .theme-default-content:not(.custom) > *:first-child {
  margin-top: 3.6rem;
}

.markdown-body .theme-default-content:not(.custom) a:hover {
  text-decoration: underline;
}

.markdown-body .theme-default-content:not(.custom) p.demo {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.markdown-body .theme-default-content:not(.custom) img {
  max-width: 100%;
}

.markdown-body .theme-default-content.custom {
  padding: 0;
  margin: 0;
}

.markdown-body .theme-default-content.custom img {
  max-width: 100%;
}

.markdown-body a {
  font-weight: 500;
  color: #3eaf7c;
  text-decoration: none;
}

.markdown-body p a code {
  font-weight: 400;
  color: #3eaf7c;
}

.markdown-body kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}

.markdown-body blockquote {
  font-size: 1rem;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}

.markdown-body blockquote > p {
  margin: 0;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 1.2em;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body .theme-default-content:not(.custom) > h1,
.markdown-body .theme-default-content:not(.custom) > h2,
.markdown-body .theme-default-content:not(.custom) > h3,
.markdown-body .theme-default-content:not(.custom) > h4,
.markdown-body .theme-default-content:not(.custom) > h5,
.markdown-body .theme-default-content:not(.custom) > h6 {
  margin-top: -3.1rem;
  padding-top: 4.6rem;
  margin-bottom: 0;
}

.markdown-body .theme-default-content:not(.custom) > h1:first-child,
.markdown-body .theme-default-content:not(.custom) > h2:first-child,
.markdown-body .theme-default-content:not(.custom) > h3:first-child,
.markdown-body .theme-default-content:not(.custom) > h4:first-child,
.markdown-body .theme-default-content:not(.custom) > h5:first-child,
.markdown-body .theme-default-content:not(.custom) > h6:first-child {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.markdown-body .theme-default-content:not(.custom) > h1:first-child + p,
.markdown-body .theme-default-content:not(.custom) > h2:first-child + p,
.markdown-body .theme-default-content:not(.custom) > h3:first-child + p,
.markdown-body .theme-default-content:not(.custom) > h4:first-child + p,
.markdown-body .theme-default-content:not(.custom) > h5:first-child + p,
.markdown-body .theme-default-content:not(.custom) > h6:first-child + p,
.markdown-body .theme-default-content:not(.custom) > h1:first-child + pre,
.markdown-body .theme-default-content:not(.custom) > h2:first-child + pre,
.markdown-body .theme-default-content:not(.custom) > h3:first-child + pre,
.markdown-body .theme-default-content:not(.custom) > h4:first-child + pre,
.markdown-body .theme-default-content:not(.custom) > h5:first-child + pre,
.markdown-body .theme-default-content:not(.custom) > h6:first-child + pre,
.markdown-body .theme-default-content:not(.custom) > h1:first-child + .custom-block,
.markdown-body .theme-default-content:not(.custom) > h2:first-child + .custom-block,
.markdown-body .theme-default-content:not(.custom) > h3:first-child + .custom-block,
.markdown-body .theme-default-content:not(.custom) > h4:first-child + .custom-block,
.markdown-body .theme-default-content:not(.custom) > h5:first-child + .custom-block,
.markdown-body .theme-default-content:not(.custom) > h6:first-child + .custom-block {
  margin-top: 2rem;
}

.markdown-body h1:focus .header-anchor,
.markdown-body h2:focus .header-anchor,
.markdown-body h3:focus .header-anchor,
.markdown-body h4:focus .header-anchor,
.markdown-body h5:focus .header-anchor,
.markdown-body h6:focus .header-anchor,
.markdown-body h1:hover .header-anchor,
.markdown-body h2:hover .header-anchor,
.markdown-body h3:hover .header-anchor,
.markdown-body h4:hover .header-anchor,
.markdown-body h5:hover .header-anchor,
.markdown-body h6:hover .header-anchor {
  opacity: 1;
}

.markdown-body h1 {
  font-size: 2.2rem;
}

.markdown-body h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
}

.markdown-body h3 {
  font-size: 1.35rem;
}

.markdown-body a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}

.markdown-body a.header-anchor:focus,
.markdown-body a.header-anchor:hover {
  text-decoration: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body .line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.markdown-body p,
.markdown-body ul,
.markdown-body ol {
  line-height: 1.7;
}

.markdown-body hr {
  border: 0;
  border-top: 1px solid #eaecef;
}

.markdown-body table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

.markdown-body tr {
  border-top: 1px solid #dfe2e5;
}

.markdown-body tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

.markdown-body .theme-container.no-navbar .theme-default-content:not(.custom) > h1,
.markdown-body .theme-container.no-navbar h2,
.markdown-body .theme-container.no-navbar h3,
.markdown-body .theme-container.no-navbar h4,
.markdown-body .theme-container.no-navbar h5,
.markdown-body .theme-container.no-navbar h6 {
  margin-top: 1.5rem;
  padding-top: 0;
}

@media (max-width: 419px) {
  .markdown-body h1 {
    font-size: 1.9rem;
  }
  .markdown-body .theme-default-content div[class*="language-"] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}

.markdown-body code[class*="language-"],
.markdown-body pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.markdown-body pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.markdown-body :not(pre) > code[class*="language-"],
.markdown-body pre[class*="language-"] {
  background: #2d2d2d;
}

.markdown-body :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.markdown-body .token.comment,
.markdown-body .token.block-comment,
.markdown-body .token.prolog,
.markdown-body .token.doctype,
.markdown-body .token.cdata {
  color: #999;
}

.markdown-body .token.punctuation {
  color: #ccc;
}

.markdown-body .token.tag,
.markdown-body .token.attr-name,
.markdown-body .token.namespace,
.markdown-body .token.deleted {
  color: #e2777a;
}

.markdown-body .token.function-name {
  color: #6196cc;
}

.markdown-body .token.boolean,
.markdown-body .token.number,
.markdown-body .token.function {
  color: #f08d49;
}

.markdown-body .token.property,
.markdown-body .token.class-name,
.markdown-body .token.constant,
.markdown-body .token.symbol {
  color: #f8c555;
}

.markdown-body .token.selector,
.markdown-body .token.important,
.markdown-body .token.atrule,
.markdown-body .token.keyword,
.markdown-body .token.builtin {
  color: #cc99cd;
}

.markdown-body .token.string,
.markdown-body .token.char,
.markdown-body .token.attr-value,
.markdown-body .token.regex,
.markdown-body .token.variable {
  color: #7ec699;
}

.markdown-body .token.operator,
.markdown-body .token.entity,
.markdown-body .token.url {
  color: #67cdcc;
}

.markdown-body .token.important,
.markdown-body .token.bold {
  font-weight: bold;
}

.markdown-body .token.italic {
  font-style: italic;
}

.markdown-body .token.entity {
  cursor: help;
}

.markdown-body .token.inserted {
  color: green;
}
